// COLORS
$colorBlack: #0b0d17;
$colorBlue: #d0d6f9;
$colorWhite: #ffffff;

// TYPOGRAPHY
$fontFamilyFirst: "Bellefair";
$fontFamilySecond: "Barlow Condensed";
$fontFamilyThird: "Barlow";

// SIZE
$fontSize150: 150px;
$fontSize100: 100px;
$fontSize80: 80px;
$fontSize56: 56px;
$fontSize40: 40px;
$fontSize32: 32px;
$fontSize28: 28px;
$fontSize24: 24px;
$fontSize20: 20px;
$fontSize18: 18px;
$fontSize16: 16px;
$fontSize15: 15px;
$fontSize14: 14px;

// WEIGHT
$fontWeight400: 400;
$fontWeight700: 700;

// LINE HEIGHT
$lineHeight150: 150px;
$lineHeight100: 100px;
$lineHeight32: 32px;
$lineHeight28: 28px;
$lineHeight25: 25px;

// LETTER SPACING
$letterSpacing4-7: 4.725px;
$letterSpacing3-3: 3.375px;
$letterSpacing2-7: 2.7px;
$letterSpacing2-3: 2.362px;
$letterSpacing2: 2px;
$letterSpacing1-5: 1.5px;
$letterSpacing1-2: 1.25px;
$letterSpacing1: 1px;
